<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script rel="js" src="{{ url_for('static', filename='js/programmer.js') }}"></script> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- this is so the favicon functions on all devices, relatively easy to copy and paste from realFaviconGenerator-->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-96x96.png')}}" sizes="96x96">
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico')}}" >
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}" >
  <meta name="apple-mobile-web-app-title" content="W.A.S.A.B.I" />
  <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}" >
  <title>Programmer</title>
  <!-- stuff to call on load, needed to import jinja's render injections into javascript-->
  <script>
  console.log("page loading \n")
  assignUrl("{{url_for('agent.agent_handler')}}", 'agent');
  </script>

</head>

<body>


    <p>we encountered an error :(</p>


</body>