<div class = "selectors">
    <select id = "pumpContents" class="pumpDropdown experiment_info"> 
    <option value = "empty" {% if renderData == "empty" %}selected {% endif %}>select pump contents</option>
      {% for pump in pumps %} 
        <option value="{{ pumps[pump] }} {% if renderData['pumpContents'] == pumps[pump] %} selected {% endif %}">{{ pumps[pump] }}</option>
      {% endfor %}

    </select>
    <br>
    <select id = "method" class = "methodSelect">
        <option value="empty" selected>select method</option>
        <option value="constant"> constant volume </option>
        <option value="Gradient"> 1D gradient </option>
    </select>
</div>

<div id = "method_container" class="method_container">
</div>
<div class = "fromTo">
    <input class = "well_selector experiment_info from" placeholder = "from"> 
    </input>
    <input class = "well_selector experiment_info to" placeholder = "to">
    </input>
</div>
<div class = "shortHandInfoContainer ">
</div>

<div class = "tabControls">
    <button id = "deleteBtn">x</button>
    <button id = "activateBtn">o</button>
</div> 