{% if method == "constant" %}
<div class = 'method_outline'>
    <label for="volumeinput"> volume: </label>
        <input name = "volumeinput" id = "volume" class = "volume experiment_info" style = "width: 3vw"
            {% if renderData and renderData.get('volume') %}
                value = "{{ renderData.get('volume') }}"
            {% endif %}>
    </input>
</div>
{% endif %}

{% if method == "gradient" %}
<div class = 'method_outline'>
    <label for="direction_select">Gradient Direction:</label>
    <select id="direction" name = "direction_select" class = "direction experiment_info">
{% if renderData and renderData.get('direction') %}
        <option value="{{ renderData.get('direction') }}" selected>{{ renderData.get('direction') }}ward</option>
{% endif %}
        <option value="right"> rightward </option>
        <option value="left"> leftward </option>
        <option value="down"> downward </option>
        <option value="up"> upward </option>
    </select>
    <br>
    <label for="initialVolume">initialVolume:</label>
    <input id = "initialVolume" name = "initialVolume" class = "initialVolume experiment_info" 
    {% if renderData and renderData.get('initialVolume') %}
        value = "{{ renderData.get('initialVolume') }}"
    {% endif %}>
    </input>
    <br>
    <label for="increment">increment:</label>
    <input name = "increment" id = "increment" class = "increment experiment_info" style = "width: 3vw"
    {% if renderData and renderData.get('initialVolume') %}
        value = "{{ renderData.get('increment') }}"
    {% endif %}>
    </input>
</div>
{% endif %}