<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script rel="js" src="{{ url_for('static', filename='js/programmer.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- this is so the favicon functions on all devices, relatively easy to copy and paste from realFaviconGenerator-->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-96x96.png')}}" sizes="96x96">
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico')}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}">
  <meta name="apple-mobile-web-app-title" content="W.A.S.A.B.I" />
  <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}">
  <title>Programmer</title>
  <!-- stuff to call on load, needed to import jinja's render injections into javascript-->
  <script>
    console.log("page loading \n")
    assignUrl("{{url_for('agent.agent_handler')}}", 'agent');
  </script>

</head>

<div class="navbar">
<button class="run_experiments mediumButton" onclick="location.href ='/'">run</button>
<button class="browse_experiments mediumButton">browse</button>
<button class="process_data mediumButton">process</button>
</div>

<body>
  <div id="experimentContainer">
    <br>
    <div id="titleBar">
      <h2 id="mainTitle">Experiment Programmer</h2>
      <div id="selectorContainer">
        <label for="unitSelect">units: </label>
        <select id="units" class="units experiment_info" name="unitSelect">
          <option value="ml">ml</option>
          <option value="ul">ul</option>
        </select>
        <label for="plateSelector">plate: </label>
        <select id="plateSelector" name="plateSelector" onchange='renderPlate()'>
          {% for plate in plates %}
          <option value='{"x":"{{ plate["columns"] }}","y":"{{ plate["rows"] }}"}'>{{ plate['columns'] }},
            {{plate['rows']}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% if experiment is defined %}

  <h3>{{experiment[title]}}</h3>

  {%else%}
    <label for="experimentTitle">Name experiment:</label>
    <input name="experimentTitle" id="title">
  {%endif%}

    <div id="form_container">

    </div>

    <div id="expansionButtons">

      <button id="add_instruction" class="mediumButton"> add instruction </button>

      <button class="mediumButton">Store Experiment</button>
      <!--
    <div class="dropdown">
      <button class="dropbtn">load past experiment</button>
      <div id="experiment_search_dropdown" class="dropdown-content">
        <input class="DDsearch" type="text" placeholder="Search.." id="experiment_search_entry">
        {% for experiment in experiments %}
        <a onclick='loadSelectedExperiment("{{experiment[0]}}")'>{{experiment[0]}}</a>
        {% endfor %}
      </div>
    </div>
    -->
    </div>

  </div>

  <!-- element that contains the plate display -->
  <div id="plateContainer">
    <svg id="plateSvgElement" xmlns="http://www.w3.org/2000/svg"> </svg>
  </div>

  <div id = "wellContainer"></div>

</body>