<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script rel="js" src="{{ url_for('static', filename='js/home.js') }}"></script> 
    <script rel="js" src="{{ url_for('static', filename='js/main.js') }}"></script> 
    <script>
      assignUrl("{{url_for('agent.agent_handler')}}", 'agent');
      assignUrl("{{url_for('programmer.programmer')}}", 'programmer');
      assignUrl("{{url_for('finder.display')}}", 'display');
    </script>
  </head>


  <body>
    <div id="finderContainer" class = 'hidden' >
      <iframe id="finder" src="{{url_for('finder.finder')}}" class = 'finder' frameborder="0"></iframe>
    </div>
    <button class = "homebutton" onclick = "location.href = '/program' ">programmer</button>
    <div>
      <h1 id="pageHeader">Wasabi Home</h1>
      <div class="headerlink">
      </div>
    </div>
    {% if changes not NONE%}
    <div>
      material changes required:
      <div>
        {%for material in changes%}
        {{material}}
        {{%endfor%}}
      </div>
    </div>
    {% endif %}

    <table>
      <caption>
        peristaltic pump table
      </caption>
      <thead>
        <tr>
          <th scope="col">pump</th>
          <th scope="col">current contents</th>
          <th scope="col">manual feed</th>
          <th scope="col">buzz</th>
        </tr>
      </thead>
      <tbody>
        {% for pump in pumps %}
        <tr id = "{{pump}}">
          <th scope="row">{{pump}}</th>
          <td>{{pumps[pump]}}</td>
          <td>buzz: 
            <button class = "mediumButton"></button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>

