<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script rel="js" src="{{ url_for('static', filename='js/finder.js') }}"></script>
  <script rel="js" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/finder.css') }}">
  <!-- this is so the favicon functions on all devices, relatively easy to copy and paste from realFaviconGenerator-->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-96x96.png')}}" sizes="96x96">
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico')}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}">
  <meta name="apple-mobile-web-app-title" content="W.A.S.A.B.I" />
  <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}">
  <title>Programmer</title>
  <!-- stuff to call on load, needed to import jinja's render injections into javascript-->
  <script>
    console.log("page loading \n")
    assignUrl("{{url_for('agent.agent_handler')}}", 'agent');
    assignUrl("{{url_for('programmer.programmer')}}", 'programmer');
    assignUrl("{{url_for('finder.display')}}", 'display');
    assignUrl("{{url_for('home.homePage')}}", 'home');
  </script>
<body>

    <div id = "searchContainer">
        <div id = "experimentList">
            {% for experiment in experiments %}
            <div id = '{{ experiment["title"] }}' class = "listedTitle experimentTitle">
                <select id="{{experiment['title']}}_versionSelect" class="versionSelector">
                    {% for i in range(experiment['version']+1)%}
                    <option value="{{(experiment['version'] - i)}}" >
                        v{{(experiment['version'] - i)}}
                    </option>
                    {% endfor %}
                </select>
                {{experiment["title"]}} 
            </div>
            {% endfor %}
        </div>
        <input id = "search" type="text">
    </div>
    <div id="shorthandBlock">
        <div id = "title"></div>
    </div>
    <div id = "displayContainer">
        <div id="plateContainer">
        <svg id="plateSvgElement" class = "prePopulationSvgCanvas" xmlns="http://www.w3.org/2000/svg"> </svg>
        </div>
        <div class="cornerButtons">
        <button id="edit" class="mediumButton">edit</button>
        <button id = "run" class = "mediumButton">load to machine</button>
        </div>
    </div>

<div class = "hidden">
<div id="form_container" class="hidden">
</div>
    <select id="plateSelector" name="plateSelector" onchange='renderPlate()'>
        {% for plate in plates %}
        <option value='{"x":"{{ plate["columns"] }}","y":"{{ plate["rows"] }}"}'>{{ plate['columns'] }},
        {{plate['rows']}}</option>
        {% endfor %}
    </select>
    <div id="wellContainer"></div>

</div>
</body>
