#primaryContainer{
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
  flex-wrap: wrap;
}
.headContainer{
  display: flex;
  flex-direction: horizontal;
  align-items:center;
}
#left{
  display: flex;
  flex-direction: column;
}
.navButton{
  flex: 0 5 10%;
  border-radius: 1vw;
  padding: .5vw;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 1vw;
  margin-top: 1vw; 
}
#reagentBay{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.reagent{
display:flex;
flex: 0 1 auto;
padding: .25vw;
margin: .5vw;
border: 2px solid black;
align-items: center;
background-color: transparent;
}

.selected {
  border: 2px solid blue;
}

.toReplace{
  background-color: #FFCCCB; /* replace */
}
.unconfirmed{
  background-color: #e3bf09; /* unconfirmed */
}
.confirmed{
  background-color: #549C30; /* confirmed */
}

.manualFeedContainer{
justify-content: space-between;
flex-flow: row wrap;
flex: 0 3 auto;
}
.manualFeedContainer > * {
  margin: .5vw;
}

#right{
  justify-content: space-between;
}

#right >*{
  margin: 2vw;
}

#dPad{
width: 10vw;
height: 10vw;
}

#jogIncrement{
display:flex;
flex: 1 1 auto;
margin: 1vw;
width: 3vw;
}

#manualPositioning{
display:flex;
flex-flow: column wrap;
}

.dirButton{
  width: 2vw;
  height: 2vw;
}
.dirButton > * {
  width: 2vw;
  height: 2vw;
}
