<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script rel="js" src="{{ url_for('static', filename='js/functions.js') }}"></script> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- this is so the favicon functions on all devices, relatively easy to copy and paste from realFaviconGenerator-->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-96x96.png')}}" sizes="96x96">
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon/favicon.svg')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico')}}" >
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png')}}" >
  <meta name="apple-mobile-web-app-title" content="W.A.S.A.B.I" />
  <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest')}}" >

  <title>Programmer</title>
</head>
<body>
<div id="experimentContainer">
      <br>
  <div id = "titleBar">
    <h2>Experiment Programmer</h2>
    <div id="SelectorContainer">
    <label for="unitSelect">units: </label>
      <select id = "unitSelect" name = "unitSelect" onchange = "updateOutput(); rememberOutput()">
            <option value="ml">ml</option>
            <option value="ul">ul</option>
      </select>
    <label for="plateSelector">plate: </label>
      <select id="plateSelector" name = "plateSelector" onchange = 'renderPlate(); rememberOutput()'> 
        {% for plate in DBplates %}
          <option value='{{ DBplates[plate] | tojson }}'>{{ plate }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <label for="experimentTitle">Name experiment:</label>
  <input name = "experimentTitle" id = "title">

<div class="hidden" id = "instructionformtemp" >
  <div class = "selectors">
    <select class="pumpDropdown" onchange = "rememberOutput()"> 
      <option value="empty" selected>select pump contents</option>
      {% for pump in PumpContents %} 
        <option value="{{ PumpContents[pump] }}">{{ PumpContents[pump] }}</option>
      {% endfor %}
    </select>
    <br>
    <select class = "shorthand methodSelect" onchange = "updateMethod(this); rememberOutput()">
      <option value="empty" selected>select method</option>
      <option value="constant"> constant volume </option>
      <option value="Gradient"> 1D gradient </option>
    </select>
  </div>

  <div class = "methodContainer">
  </div>

  <div class = "formInfoBlock ">
  <div class = "shorthand cornerInputContainer">
    <input class = "wellSelector" placeholder = "from" 
        onchange = "verifyWellInput(this); rememberOutput()" >
    </input>
    <input class = "wellSelector" placeholder = "to" 
        onchange = "verifyWellInput(this); rememberOutput()" >
    </input>
  </div>
  </div>
  <div class = "shortHandInfoContainer shorthand">
  </div>

  <div class = "tabControls shorthand">
    <button onclick = "deleteform(this); rememberOutput()">x</button>
    <button onclick = "setActiveForm(this.parentElement.parentElement)">o</button>
  </div>
</div>


<div id = "formContainer">
  
</div>




<div id = "expansionButtons">
  <button class = "mediumButton" onclick="makeCopy()"> add instruction </button>
  <button class = "mediumButton" onclick='rememberOutput(); logExperiment({{url_for("programmer.programmer") }})'>Store Experiment</button>
    <div class="dropdown">
      <button onclick="showFunction('myDropdown')" class="dropbtn">load past experiment</button>
      <div id="myDropdown" class="dropdown-content">
        <input class="DDsearch" type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction('myInput','myDropdown')">
          {% for experiment in experiments %}
          <a onclick = "">{{experiment[0]}}</a>
          {% endfor %}
      </div>
    </div>
</div>
</div>

<!-- element that contains the plate display -->
<div id='plateOverContainer'>
  <div id="plateContainer">
  <svg id="plateSvgElement" width="100%" xmlns="http://www.w3.org/2000/svg">
</div>



<!-- this is where you can put any of the custom forms for any of the methods-->
<div class = "hidden">

  <div class = "customMethodForm" id = "constant">
    <label for="volumeinput"> volume: </label>
          <input name = "volumeinput" class = "volume" style = "width: 3vw" onchange = "updateOutput('volume', parseInt(this.value)); rememberOutput()">
    </input>
    <br>
    <label for="unitSelect">units: </label>
      <select class = "unitSelect" name = "unitSelect" onchange = "updateOutput(); rememberOutput();">
            <option value="ml">ml</option>
            <option value="ul">ul</option>
      </select>
  </div>

  <div class = "customMethodForm" id = "Gradient">
    <label for="gradSelect">Select Gradient Direction</label>
    <select name = "gradSelect" class = "direction" onchange = "updateOutput('direction', this.value); rememberOutput()">
      <option value="right"> rightward </option>
      <option value="left"> leftward </option>
      <option value="down"> downward </option>
      <option value="up"> upward </option>
    </select>
    <br>
    <label for="initialVolume"> initialVolume: </label>
    <input name = "initialVolume" class = "initialVolume" style = "width: 3vw" oninput = "updateOutput('initialVolume', parseInt(this.value)); rememberOutput()">
    </input>
    <br>
    <label for="increment"> increment </label>
    <input name = "increment" class = "increment" style = "width: 3vw" oninput = "updateOutput('increment', parseInt(this.value)); rememberOutput()">
    </input>
    <br>
  </div>

</div>
  <!-- stuff to call on load, assign url imports a url from the jinja "url_for" function-->
  <script>
  assignUrl("{{url_for('agent.sessionPut')}}", 'sessionPut');
  assignUrl("{{url_for('agent.sessionGet')}}", 'sessionGet');
  recoverExperiment();
  document.addEventListener('DOMContentLoaded', function() {
    const plateSelector = document.getElementById("plateSelector")
    selectorNullItemRemove()
  });
  </script>

</body>
